* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
}

#app {
  height: 100%;
}

#app-div {
  height: 100%;
}

#routes {
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
}

nav a {
  height: 100%;
  width: 200px;
  color: white;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

nav a:hover {
  background-color: yellow;
  color: black;
}

.active {
  background-color: orange;
  color: black;
}

header {
  background-color: darkgreen;
  color: white;
  height: 150px;
}

input[type="checkbox"] {
  background-color: white;
  height: 30px;
  width: 30px;
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

header h1 {
  margin: 0px;
  font-size: 52px;
  color: white;
}

#header-content div {
  padding: 30px;
}

#unauth-home {
  display: flex;
  height: 100%;
}

#unauth-home > div {
  width: 50%;
  height: 100%;
}

#unauth-home-left {
  background-color: darkgreen;
}

#unauth-home-right {
  background-color: white;
  color: darkgreen;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#auth-form {
  border: 1px solid darkgreen;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#auth-form div {
  display: flex;
  margin: 10px;
}

#auth-form label {
  width: 100px;
}

#unauth-home-btns button {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: darkgreen;
  transition: all 0.3s;
  border: 2px transparent;
  padding: 10px;
}

#unauth-home-btns button:hover {
  background-color: darkgreen;
  color: white;
}

#unauth-home-btns .selected {
  background-color: darkgreen;
  color: white;
}

#main {
  height: 100%;
  overflow: hidden;
}

#main-container {
  display: flex;
  height: 100%;
}

#town-container {
  flex-grow: 3;
  height: 100%;
}

#town-sidebar {
  flex-grow: 1;
  background-color: lightgray;
  height: 100%;
}

#task-container {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
  margin-top: 20px;
}

.task-list {
  background-color: lightgray;
  width: 400px;
  height: 90%;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
  overflow: auto;
}

.task-list h1 {
  margin: 0px;
}

.task-header {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: black;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.add-task-btn {
  background-color: orange;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: 0px;
  outline: none;
}

.add-task-btn:hover {
  background-color: yellow;
}

.form-overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-overlay h1 {
  color: white;
}

#add-daily-form {
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add-daily-form input {
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 20px;
}

.task-box {
  cursor: pointer;
  background-color: orange;
  border: 1px solid black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.task-box:hover {
  background-color: yellow;
}

.task-box p {
  margin: 0px;
}